@use '../css/bootstrap' as *;
//====COLORS====
$primary: #0047ab;
$secondary: #007BA7;
$accent: #D3AF37;
//====TABLE STYLING====
.table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: $secondary;
}

.table-striped>tbody>tr:nth-child(even)>td {
    background-color: $primary;
}

.table-striped>thead {
    background-color: $secondary;
}

.table-hover>tbody>tr>td:hover,
.table-hover>thead:hover {
    border-color: white;
    background-color: $accent !important;
}

.table-bordered {
    border-color: black;
}

//====MODAL STYLING=====
.modal {
    background-color: #03344642;
}

.modal-body,
.modal-footer {
    background-color: $secondary;
}

.modal p {
    font-size: 20px;
}

.alert {
    background-color: $accent;
    p {
        font-style: italic;
        color: white;
    }
}