@use '../css/bootstrap' as *;
//====COLORS====
$primary: #0047ab;
$secondary: #007BA7;
$tablehead: #03009b;
$accent: #D3AF37;
$bgcolor: #305cde;
//====TABLE STYLING====
.table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    th,
    td {
        color: white;
    }
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: $secondary;
}

.table-striped>tbody>tr:nth-child(even)>td {
    background-color: $primary;
}

.table-striped>thead {
    background-color: $tablehead;
}

.table-hover>tbody>tr>td:hover,
.table-hover>thead:hover {
    border-color: white;
    background-color: $accent !important;
}

.table-bordered {
    border-color: black;
}

//====MODAL STYLING=====
.modal {
    background-color: #03344642;
}

.modal-body,
.modal-footer {
    background-color: $secondary;
}

.modal-body {
    padding: 50px;
}

.modal {
    p {
        font-size: 20px;
    }
}

.btn {
    background-color: transparent;
    border-color: transparent;
    font-size: medium;
    font-style: bold;
}

.btn:hover {
    background-color: transparent;
    border-color: black;
}

.modal-footer {
    .btn {
        background-color: rgb(255, 255, 255);
    }
    .btn:hover {
        background-color: $accent;
        color: white;
    }
}

.alert {
    background-color: $accent;
    font-style: italic;
    color: white;
}

body {
    background-color: $bgcolor;
}

.text-info {
    color: white !important;
}