/*

example of how to do a CSS styling thingy:
p {
  color: red;
}
  - makes the color red

body {
  background-image: url("bgdesert.jpg");
}
    - makes the background a desert image


*/


/*
Primary: #773434, Orange-Brown
Secondary, #BD7532, Red
Accent, #756985, Purple
Background, #EDD5C6, Cream
*/

body {
    background-color: #EDD5C6;
}

header {
    background-color: #773434;
    padding: 20px;
    margin: 1px;
}

footer {
    background-color: #773434;
    padding: 5px;
    margin: 1px;
}

#itemlist {
    background-color: #ee85248e;
    padding: 20px;
    margin: 1px;
}

td.descCells {
    background-color: #868686;
}

th.descCells {
    background-color: #868686;
}

td.bronze {
    background-color: #A8763E;
}

th,
td {
    background-color: #EDD5C6;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 35px 70px 50px 70px;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: lightgray;
}


/* unvisited link */

a:link {
    color: rgb(0, 255, 179);
}


/* visited link */

a:visited {
    color: rgb(0, 131, 22);
}


/* mouse over link */

a:hover {
    color: rgb(213, 0, 28);
}


/* selected link */

a:active {
    color: blue;
}


/* default text font */

i {
    font-family: Garamond, "Adobe Garamond Pro", "EB Garamond", "Times New Roman", serif;
    line-height: 1.3;
}

p {
    font-family: "Helvetica", serif;
    line-height: 1.3;
}