/*

example of how to do a CSS styling thingy:
p {
  color: red;
}
  - makes the color red

body {
  background-image: url("bgdesert.jpg");
}
    - makes the background a desert image


*/


/*
Primary: #0047ab, Cobalt Blue
Secondary, #007BA7, Cerulean
Accent, #D3AF37, Gold
Background, #305cde, Royal Blue
*/


/*
====================
BASIC ELEMENT STYLING
====================
*/


/*Allows header and footer to take up entire space*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6881cc;
}

header {
    background-color: #0047ab;
    padding: 10px;
    /*width: 100%;*/
    position: sticky;
    top: 0;
    z-index: 2;
    margin-right: -20px;
    margin-left: -120px;
    margin-bottom: 20px;
    padding-left: 130px;
}

footer {
    background-color: #0047ab;
    padding: 5px;
    margin: 1px;
    width: 100%;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: #007BA7;
}

dialog {
    background-color: #007BA7;
    /*margin-left: 0;*/
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 3px solid #D3AF37;
    border-radius: 8px;
    max-width: 600px;
}

main {
    margin-left: 120px;
    padding-right: 20px;
}

iframe {
    width: 100%;
}


/*
====================
SECTION/SPECIFIC STYLING
====================
*/

.sidebar {
    margin: 0;
    width: 90px;
    height: 55vh;
    padding: 5px;
    position: fixed;
    top: 7rem;
    left: 0;
    border: 3px solid #060f13;
    background-color: #D3AF37;
    z-index: 1;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D3AF37;
}

.sidebar li {
    float: center;
    border-color: #060f13;
    border-width: 1px;
    border-style: solid;
}

.sidebar li a,
.currentpage {
    display: block;
    text-align: left;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    text-decoration: none;
    font-family: "Copperplate", serif;
    color: black;
}

.sidebar li a:hover,
.currentpage:hover {
    background-color: #1f2427;
    color: gold;
}

.currentpage,
#homebutton {
    background-color: #0047ab;
}

#HomeNav {
    border-color: #060f13;
    border-width: 2px;
    border-style: solid;
    padding: 0px;
}

#itemlist {
    background-color: #0047ab;
    padding: 15px;
    margin: 50px 50px 50px 20px;
}

#banner {
    display: block;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 3 / 1;
    position: relative;
    z-index: 1;
}

.ProPic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 2px;
    left: 300px;
    border: 2px solid #111111;
}

figcaption {
    color: #333333;
    font-style: italic;
    padding: 3px;
    text-align: center;
    /* Centers the caption text */
}


/* All text in gallery is centered */

#gallery h2,
#gallery h3,
#gallery h4,
#gallery p {
    text-align: center;
}

.subgallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    text-align: center;
    font-size: 30px;
    flex: 20%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
}

.container>div {
    border: 1px solid black;
    padding: 0px;
    text-align: center;
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .gallery-item {
        flex: 100%;
    }
}


/* box model for the about section */

#aboutDiv {
    background-color: #0047ab;
    width: 250px;
    border: 15px solid #007BA7;
    padding: 50px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

#aboutDiv1 {
    background-color: #0047ab;
    border: 15px solid #007BA7;
    padding: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}


/*
====================
TABLE STYLING
====================
*/

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #305cde;
}

.table-hover>tbody>tr>:hover,
.table-hover>tbody>tr>:hover {
    border-color: white;
    background-color: #D3AF37 !important;
}

.table-bordered {
    border-color: black;
    border: 5px;
}


/*
table,
th,
caption,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 35px 20px 50px 20px;
}

caption {
    background-color: #D3AF37;
}



/*table row styling*/


/*
tr {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #305cde;
}

th:nth-child(3) {
    background-color: #007BA7;
}

tr:nth-child(odd) {
    background-color: #007BA7;
}

tr:hover {
    border-color: white;
    background-color: #D3AF37 !important;
}*/


/*
====================
TIER COLORING STYLING
====================
*/

.Bronze {
    background-color: #A8763E;
}

.Iron {
    background-color: #E1DEE3;
}

.Silver {
    background-color: #ECF0F1;
}

.Gold {
    background-color: #FBB13C;
}

.Platinum {
    background-color: #748386;
}


/*
====================
LINK AND NAVIGATION STYLING
====================
*/

button.link {
    border: 1px solid black;
    background-color: #D3AF37;
    padding-top: 15;
    padding-right: 15;
    padding-bottom: 15;
    padding-left: 15;
}

button.link:hover {
    background-color: #756985;
}


/* unvisited link */

a:link {
    color: rgb(0, 132, 255);
}


/* visited link */

a:visited {
    color: rgb(85, 0, 254);
}


/* mouse over link */

a:hover {
    color: rgb(0, 255, 51);
}


/* selected link */

a:active {
    color: rgb(250, 0, 171);
}


/* 
====================
TYPOGRAPY STYLING 
====================
*/

i {
    font-family: Garamond, "Adobe Garamond Pro", "EB Garamond", "Times New Roman", serif;
    line-height: 1.3;
    color: white;
}

p {
    font-family: "Palatino", serif;
    line-height: 1.3;
    color: white;
}

h1,
h2,
h3,
h4,
h1 i {
    font-family: "Copperplate", serif;
    color: #D3AF37;
}

h2 {
    font-size: 30px;
}

caption {
    color: black;
}

tr,
th {
    color: rgb(0, 0, 0);
}

table i {
    color: black;
}

details {
    color: rgb(218, 218, 218);
}

li {
    color: white;
}

img:hover,
video:hover {
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
}