/*

example of how to do a CSS styling thingy:
p {
  color: red;
}
  - makes the color red

body {
  background-image: url("bgdesert.jpg");
}
    - makes the background a desert image


*/


/*
Primary: #0047ab, Cobalt Blue
Secondary, #007BA7, Cerulean
Accent, #D3AF37, Gold
Background, #305cde, Royal Blue
*/


/*
====================
BASIC ELEMENT STYLING
====================
*/


/*Allows header and footer to take up entire space*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6881cc;
}

header {
    background-color: #0047ab;
    padding: 10px;
    margin-bottom: 1px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

footer {
    background-color: #0047ab;
    padding: 5px;
    margin: 1px;
    width: 100%;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: #007BA7;
}

dialog {
    background-color: #007BA7;
}


/* box model for the about section */

div {
    background-color: #0047ab;
    width: 300px;
    border: 15px solid #007BA7;
    padding: 50px;
    margin: 20px;
}


/*
====================
SECTION/SPECIFIC STYLING
====================
*/

.sidebar {
    margin: 0;
    width: 70px;
    height: 55vh;
    padding: 15px;
    position: fixed;
    top: 7rem;
    left: 0;
    border: 5px solid #060f13
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D3AF37;
}

.sidebar li {
    float: center;
}

.sidebar li a {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #1f2427;
}

#itemlist {
    background-color: #0047ab;
    padding: 15px;
    margin: 50px;
}

#banner {
    display: block;
    margin: auto;
}


/* All text in gallery is centered */

#gallery h2,
#gallery h3,
#gallery h4,
#gallery p {
    text-align: center;
}

.gallery-item {
    display: block;
    margin: auto;
}


/*
====================
TABLE STYLING
====================
*/

table,
th,
caption,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 35px 70px 50px 70px;
}

caption {
    background-color: #D3AF37;
}


/*table row styling*/

tr {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #305cde;
}

th:nth-child(3) {
    background-color: #007BA7;
}

tr:nth-child(odd) {
    background-color: #007BA7;
}

tr:hover {
    border-color: white;
    background-color: #D3AF37 !important;
}


/*
====================
TIER COLORING STYLING
====================
*/

.Bronze {
    background-color: #A8763E;
}

.Iron {
    background-color: #E1DEE3;
}

.Silver {
    background-color: #ECF0F1;
}

.Gold {
    background-color: #FBB13C;
}

.Platinum {
    background-color: #748386;
}


/*
====================
LINK AND NAVIGATION STYLING
====================
*/

button.link {
    border: 1px solid black;
    background-color: #D3AF37;
    padding-top: 15;
    padding-right: 15;
    padding-bottom: 15;
    padding-left: 15;
}

button.link:hover {
    background-color: #756985;
}


/* unvisited link */

a:link {
    color: rgb(0, 132, 255);
}


/* visited link */

a:visited {
    color: rgb(85, 0, 254);
}


/* mouse over link */

a:hover {
    color: rgb(0, 255, 51);
}


/* selected link */

a:active {
    color: rgb(250, 0, 171);
}


/* 
====================
TYPOGRAPY STYLING 
====================
*/

i {
    font-family: Garamond, "Adobe Garamond Pro", "EB Garamond", "Times New Roman", serif;
    line-height: 1.3;
    color: white;
}

p {
    font-family: "Palatino", serif;
    line-height: 1.3;
    color: white;
}

h1,
h2,
h3,
h4,
h1 i {
    font-family: "Copperplate", serif;
    color: #D3AF37;
}

caption {
    color: black;
}

tr,
th {
    color: rgb(0, 0, 0);
}

table i {
    color: black;
}

details {
    color: rgb(218, 218, 218);
}

li {
    color: white;
}