/*

example of how to do a CSS styling thingy:
p {
  color: red;
}
  - makes the color red

body {
  background-image: url("bgdesert.jpg");
}
    - makes the background a desert image


*/


/*
Primary: #773434, Orange-Brown
Secondary, #BD7532, Red
Accent, #756985, Purple
Background, #EDD5C6, Cream
*/