/*

example of how to do a CSS styling thingy:
p {
  color: red;
}
  - makes the color red

body {
  background-image: url("bgdesert.jpg");
}
    - makes the background a desert image


*/


/*
Primary: #773434, Orange-Brown
Secondary, #BD7532, Red
Accent, #756985, Purple
Background, #EDD5C6, Cream
*/


/*
BASIC ELEMENT STYLING
*/

body {
    background-color: #EDD5C6;
}

header {
    background-color: #773434;
    padding: 20px;
    margin: 1px;
}

footer {
    background-color: #773434;
    padding: 5px;
    margin: 1px;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: #756985;
}

dialog {
    background-color: #EDD5C6;
}


/* box model for the about section */

div {
    background-color: #773434;
    width: 300px;
    border: 15px solid #BD7532;
    padding: 50px;
    margin: 20px;
}


/*
SECTION/SPECIFIC STYLING
*/

#itemlist {
    background-color: #ee85248e;
    padding: 20px;
    margin: 1px;
}


/*
TABLE STYLING
*/

table,
th,
caption,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 35px 70px 50px 70px;
}

caption {
    background-color: #EDD5C6;
}

tr {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #EDD5C6;
}

tr:nth-child(odd) {
    background-color: #e1b396;
}

tr:hover,
td:nth-child(3):hover {
    background-color: #756985 !important;
}


/*
TIER COLORING STYLING
*/

.Bronze {
    background-color: #A8763E;
}

.Iron {
    background-color: #E1DEE3;
}

.Silver {
    background-color: #ECF0F1;
}

.Gold {
    background-color: #FBB13C;
}

.Platinum {
    background-color: #748386;
}


/*
LINK AND NAVIGATION STYLING
*/

button.link {
    border: 1px solid black;
    background-color: #EDD5C6;
    padding-top: 15;
    padding-right: 15;
    padding-bottom: 15;
    padding-left: 15;
}


/* unvisited link */

a:link {
    color: rgb(0, 132, 255);
}


/* visited link */

a:visited {
    color: rgb(116, 0, 131);
}


/* mouse over link */

a:hover {
    color: rgb(213, 0, 28);
}


/* selected link */

a:active {
    color: blue;
}


/* 
TYPOGRAPY STYLING 
*/

i {
    font-family: Garamond, "Adobe Garamond Pro", "EB Garamond", "Times New Roman", serif;
    line-height: 1.3;
}

p {
    font-family: "Helvetica", serif;
    line-height: 1.3;
}